select::-ms-expand {
  display: none;
}

select {
  width: 100px;
  display: inline-block;
  outline: none;
  text-shadow: 0 0 0 #000;
  border: 1px solid #555;
  padding: 0.5em;
  font-size: 14px;
  height: 30px;

  background: url(#{backgroundUrl}) right 7px no-repeat, -webkit-linear-gradient(bottom, #fff 0%, #eee 100%);
  background: url(#{backgroundUrl}) right 7px no-repeat, -o-linear-gradient(bottom, #fff 0%, #eee 100%);
  background: -moz-linear-gradient(bottom, #fff 0%, #eee 100%);
  background: url(#{backgroundUrl}) right 7px no-repeat, -ms-linear-gradient(bottom, #fff 0%, #eee 100%);
  background: url(#{backgroundUrl}) right 7px no-repeat, linear-gradient(bottom, #fff 0%, #eee 100%);

  -webkit-appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;

  -webkit-box-shadow: 1px 1px 1px #fff;
  -moz-box-shadow: 1px 1px 1px #fff;

  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px #fff;
}

